.yellow {
  color: var(--yellow) !important;
}

.container {
  overflow: hidden;
}

.text {
  background-color: var(--black);
  padding: 5rem;
}
.text > p {
  color: var(--white);
  font-size: 3.1rem;
  font-weight: 800;
}

.boxImage {
  background-image: url("./banner.png");
  background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
  width: 100%; /* Cubre solo la mitad izquierda del contenedor */
  height: auto; /* Ocupa toda la altura del contenedor */
  box-shadow: 129px 1px 41px -43px rgba(0, 0, 0, 0.79) inset;
  -webkit-box-shadow: 129px 1px 41px -43px rgba(0, 0, 0, 0.959) inset;
  -moz-box-shadow: 129px 1px 41px -43px rgba(0, 0, 0, 0.959) inset;
}
