.titlesearch {
  border-top: solid var(--grey-1) 0.1rem;
  margin-top: 3rem;
  padding-top: 2rem;
}
.btnFinder {
  width: 1rem !important;
  border: none !important;
  padding: 0 !important;
}

.table {
  width: 100%;
}

thead {
  color: var(--white);
  background-color: var(--grey-1);
}
tbody > tr:hover {
  background-color: var(--grey-3);
}
td,
th {
  padding: 0.5rem;
}
.buttons > button {
  padding: 0.1rem !important;
  border-radius: 15px;
  width: 7rem !important;
}
.buttons > input {
  border-bottom: solid 0.1rem var(--grey-1);
}

td > button {
  padding: 0 !important;
  border: none;
  margin-left: 0.8rem;
  background-color: transparent;
}
td > button:hover svg {
  stroke: red !important;
}

.buttons > input {
  border-radius: 0%;
}
