.titlesearch {
  border-top: solid var(--grey-1) 0.1rem;
  margin-top: 3rem;
  padding-top: 2rem;
  justify-content: space-between;
}
.btnFinder {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  border: none !important;
  padding: 0.1rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-left: 0.8rem !important;
  background-color: var(--grey-1);
}

.table {
  width: 100%;
}

thead {
  color: var(--white);
  background-color: var(--grey-1);
}
tbody > tr:hover {
  background-color: var(--grey-3);
}
td,
th {
  padding: 0.5rem;
}
.buttons > input {
  border-bottom: solid 0.1rem var(--grey-1);
}

td > button {
  padding: 0 !important;
  border: none;
  margin-left: 0.8rem;
  background-color: transparent;
}
td > button:hover svg {
  stroke: red !important;
}

.buttons > input {
  border-radius: 0%;
}
