.nav {
  height: 10rem;
  background-color: var(--black);
  padding: var(--padding);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.button {
  background-color: var(--yellow);
  border-radius: var(--button-border);
  color: var(--black) !important;
  padding: 0.4rem 1rem;
}

.link {
  align-items: center;
}

.link > a {
  font-size: large;
  font-weight: bolder;
  color: var(--white);
}
.nav img {
  width: 70%;
}

.nav h1 {
  color: var(--white);
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .nav {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 580px) {
  .nav img {
    width: 30%;
  }
}
